
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --black: #0000;
    --white: #FFF;
    --gray: #5e5e5e;
    --red: #F00;
}

header{
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container{
  min-width: 400px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.user{
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-img{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid var(--black);
}

.user-info h3{
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 5px;
}

.title{
  font-size: 1.5rem;
}

.btn-login{
  padding: 8px 16px;
  border-radius: 12px;
  background-color: black;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.menu{
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-menu{
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.user-responsivo{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 576px) {
  .user, .desktop-login{
    display: none;
  }

  .menu{
    display: block;
  }
}